<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zeke's Blog Site</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="shorcut icon" href="images/favicon.ico"/>
</head>
<body>
    <div class="page" id="page">
        <p>Zeke's Blog Site</p>
    </div>
    {%- comment -%} <div class="Nav" id="Nav">
        <ul>
            <li><button class="YouTube" id="YouTube" onclick="window.open('https://www.youtube.com/', '_blank')">YouTube</button></li>
            <li><button class="Instagram" id="Instagram" onclick="window.open('https://www.instagram.com', '_blank')">Instagram</button></li>
            <li><button class="Recipes" id="Recipes" onclick="window.open('https://www.bingingwithbabish.com/#top', '_blank')">Recipes</button></li>
            <li><button class="Piazza" id="Piazza" onclick="window.open('https://piazza.com/', '_blank')">Piazza</button></li>
        </ul>
    </div> {%- endcomment -%}
    <div class="Blog" id="Blog">
        {%- comment -%} <div class="Channels" id="Channels">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi voluptas ipsum iure. Unde quis optio quibusdam tempore neque ipsum! Suscipit magni esse tempora sunt, dolores molestias sed voluptas deserunt nam!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolor consequatur quae veritatis id itaque dignissimos aliquam nisi, voluptas officia placeat saepe unde harum expedita. Possimus voluptatem sunt eos reprehenderit?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit dolor consequatur quae veritatis id itaque dignissimos aliquam nisi, voluptas officia placeat saepe unde harum expedita. Possimus voluptatem sunt eos reprehenderit?</p>
        </div> {%- endcomment -%}
        <div class="Posts" id="Posts">
            <div class="Content" id="Content">
                <ul>
                    {% for txt in data%}
                    <hr>
                    <ul> {{txt.blog_id}} - {{txt.blog_txt}} </ul>
                    {% endfor%}
                    <hr>
                </ul>
            </div>
            <div class="Comments" id="Comments">
                <form action="/add" method="POST">
                    <div>
                        <label for="blog">Blog entry</label>
                        <input name="blog" id="blog">
                    </div>
                    <div>
                        <button>Post</button>
                    </div>
                </form>
                <form action="/delete" method="POST">
                    <div>
                        <label for="blog">Blog to delete?</label>
                        <input name="blog" id="blog" value="1">
                    </div>
                    <div>
                        <button>Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {%- comment -%} <script src="index.js"></script> {%- endcomment -%}
</body>
</html>